.main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(127, 127, 225);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.main-nav__title h1 {
    margin: 0;
    font-size: 1.5rem;

}

.main-nav__items {
    margin-left: 1.5rem;
}

.main-nav__items ul {
    display: flex;
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style: none;
}

.main-nav__items li {
    margin: 0 1rem;
}

.main-nav__items a {
    text-decoration: none;
    color: rgb(12, 12, 84)
}

.main-nav__items a:hover, .main-nav__items a:active, .main-nav__items a.active {
    color: antiquewhite;
}